language: cpp
sudo: required
os:
 - linux
dist: trusty
compiler:
 - g++
before_install:
  - echo $LANG
install:
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test --yes
  - sudo apt-get update -qq
  - sudo apt-get install g++-6 --yes
before_script:
  - $CXX --version
  - g++ --version
script:
  - make
  - make test
after_success:
  - echo "SUCCESS!!!"
after_failure:
  - echo "Epic FAIL!!!"
notifications:
  email:
    recipients:
      - jackdebidda@gmail.com
      - giacomodebidda@yahoo.it
    on_success: change
    on_failure: always
